.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-small {
  height: 25px;
  border-radius: 12px;
  margin: 1px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:last-child {
  border: 2px solid green;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.border {
  border: 2px solid black;
  padding: 2px;
}

.dashboard-item {
  border: 2px solid black;
  padding: 2px;
  display: grid;
  grid-template-areas: "a a a a"
                       "b c c c"
                       "b d d d";
}

.dashboard-item .header {
  grid-area: a;
}

.dashboard-item .avatar {
  grid-area: b;
}

.dashboard-item .text {
  grid-area: c;
}

.dashboard-item .link {
  grid-area: d;
}

.unanswered-question {
  border: 2px solid black;
  padding: 2px;
  display: grid;
  grid-template-areas: "a a a a"
                       "b c c c"
                       "b c c c"
}

.unanswered-question .header {
  grid-area: a;
}

.unanswered-question .avatar {
  grid-area: b
}

.unanswered-question .form {
  grid-area: c
}

.answered-question {
  border: 2px solid black;
  padding: 2px;
  display: grid;
  grid-template-areas: "a a a a"
                       "b c c c"
                       "b c c c";
}

.answered-question .header {
  grid-area: a;
}

.answered-question .avatar {
  grid-area: b
}

.answered-question .results {
  grid-area: c
}

.answered-question-answer-yes {
  margin: 20px;
  border: 10px solid yellow;
}

.answered-question-answer-no {
  margin: 20px;
  border: 10px solid white;
}

.leader-board-entry {
  border: 2px solid black;
  display: grid;
  grid-template-areas: "a b c"
}

.leader-board-entry .avatar {
  grid-area: a
}

.leader-board-entry .middle {
  grid-area: b
}

.leader-board-entry .total {
  grid-area: c
}

.add-question {
  border: 2px solid black;
  padding: 2px;
}
